<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.0/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    {% include 'header.html' %}

<div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="mt-5 mb-3">Set New Password</h2>
                <form method="POST" action="{{ url_for('reset_password') }}">

                    <input type="hidden" name="token" value="{{token}}">
                    <input type="hidden" name="user_id" value="{{user_id}}">

                    <div class="mb-3"> 
                        <label class="small mb-1" for="password">Password</label>
                        <div class="d-flex flex-row form-control">
                            <input class="w-100" id="password" type="password" placeholder="Enter new password"
                            name="password" style="border: none; outline: none;">
                            <i class="fa fa-eye password-icon" id="togglePassword"
                                style="cursor: pointer; align-self: center;"></i>
                        </div>
                    </div>

                    <script>
                        var password = document.getElementById("password");
                        var togglePassword = document.getElementById("togglePassword");
                    
                        togglePassword.addEventListener('click', function () {
                            // Check if the password is visible
                            if (password.type === "password") {
                                password.type = "text";
                                togglePassword.classList.remove('fa-eye');
                                togglePassword.classList.add('fa-eye-slash');
                            } else {
                                password.type = "password";
                                togglePassword.classList.remove('fa-eye-slash');
                                togglePassword.classList.add('fa-eye');
                            }
                        });
                    </script>



                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>